<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Reservation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Add New Reservation</h2>

    <!-- Formular -->
    <form th:action="@{/reservation/add}" th:object="${reservation}" method="post">

        <div class="form-group">
            <label for="datetime">Date and Time</label>
            <input type="datetime-local" th:field="*{datetime}" class="form-control" id="datetime" required>
        </div>

        <div class="form-group">
            <label for="patientId">Patient</label>
            <select name="patientId" class="form-control" id="patientId" required>
                <option th:each="patient : ${patients}"
                        th:value="${patient.id}"
                        th:text="${patient.name}">
                </option>
            </select>

        </div>

        <div class="form-group">
            <label for="machineId">Machine</label>
            <select name="machineId" class="form-control" id="machineId" required>
                <option th:each="machine : ${machines}"
                        th:value="${machine.id}"
                        th:text="${machine.type}">
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="bodyregion">Machine</label>
            <select name="bodyregion" class="form-control" id="bodyregion" required th:field="${reservation.bodyregion}">
                <option th:value="head"
                        th:text="head">
                </option>
                <option th:value="abdomen"
                        th:text="abdomen">
                </option>
                <option th:value="thorax"
                        th:text="thorax">
                </option>
                <option th:value="extremities"
                        th:text="extremities">
                </option>
            </select>
        </div>

        <div class="form-group">
            <input th:field="${reservation.comment}" placeholder="comment" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Save Reservation</button>

    </form>
</div>
</body>
</html>