<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patients List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Device Type</th>
            <th>Room stationed</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="m : ${machines}">
            <td th:text="${m.getType()}"></td>
            <td th:text="${m.room}"></td>
        </tr>
        </tbody>
    </table>
    <p>
        <a href="/machine/add">new device</a>
    </p>
</div>
<button onclick=""></button>
</body>
</html>