<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patients List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Patient</th>
            <th>Device</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="r : ${reservations}">
            <td th:text="${r.getDatetime()}"></td>
            <td th:text="${r.getPatient().getName()}"></td>
            <td th:text="${r.getMachine().getType()}"></td>
        </tr>
        </tbody>
    </table>
    <p>
        <a href="/reservation/add">new reservation</a>
    </p>
</div>
<a th:href="@{/}" class="btn btn-secondary">Zurück</a>
</body>
</html>